:root{
    --colorUso: #4a9f46
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem ;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}


header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background: #c76a48;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem #30522a ;
}

header .logo{
    font-size: 2rem;
    color: 	#004c26;
    font-weight: bolder;
}

header .logo span{
    color: #000;
}

header .barra a{
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: #004c26;
}

header .barra a:hover{
    color: var(--colorUso) 
}

header .iconos a{
    font-size: 1.5rem;
    color: #004c26;
    margin-left: 1.5rem;
}

header .iconos a:hover{
    color: var(--colorUso)
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../Imagenes/fondoPagedit2.PNG) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .contenido{
    max-height: 50rem;
}

.home .contenido h3{
    font-size: 6rem;
    -webkit-text-stroke: 2px #004c26;
    color: #c76a48;
    text-align: justify;
    
}

.home .contenido span{
    font-size: 2.5rem;
    font-weight: bold;
    color: #4a9f46;
    -webkit-text-stroke: 0.9px rgb(0, 0, 0);
    padding: 1rem 1rem;
    line-height: 1.5;
    display: block;
    text-align:justify;
}
.home .contenido p{
    font-size: 1.5rem;
    color: #161616;
    /* -webkit-text-stroke: 0.5px rgb(0, 0, 0); */
    padding: 1rem 0;
    line-height: 1.5;
    font-weight: bold;
    text-align: justify;
    margin-right: 2rem;
}

.contenedorImagen {
    flex-shrink: 0;
}

#imagenportada {
    max-width: 405px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 2);
}